#header_main{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#links{
     width: 70vw;
     display: flex;
     flex-direction: column;
     text-align: center;
}

#logo{
    width: 20vw;
}


#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}